<ion-header>
  <ion-navbar>
    <ion-title>
      Membro
    </ion-title>
    <ion-buttons end>
      <button on-click="editar()" ion-button icon-only>
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page6">
  <form id="membro-form3">
    <ion-item id="membro-input12">
      <ion-label>
        Nome Completo
      </ion-label>
      <ion-input type="text"  [disabled]="disabled" placeholder="" [(ngModel)]="membro.nome" name="nome"></ion-input>
    </ion-item>
    <ion-item id="membro-input13">
      <ion-label>
        Data Nasc.
      </ion-label>
      <ion-input  [disabled]="disabled" [(ngModel)]="membro.dataNasc" type="date" placeholder="" name="dataNasc"></ion-input>
    </ion-item>
    <ion-item id="membro-select7">
      <ion-label>
        Sexo
      </ion-label>
      <ion-select [disabled]="disabled" [(ngModel)]="membro.sexo" name="sexo">
        <ion-option></ion-option>
        <ion-option>
          Masculino
        </ion-option>
        <ion-option>
          Feminino
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item id="membro-select8">
      <ion-label>
        Estado Civíl
      </ion-label>
      <ion-select [disabled]="disabled" [(ngModel)]="membro.estadoCivil" name="estadoCivil">
        <ion-option></ion-option>
        <ion-option>
          Solteiro(a)
        </ion-option>
        <ion-option>
          Casado(a)
        </ion-option>
        <ion-option>
          Viúvo(a)
        </ion-option>
        <ion-option>
          Divorciado(a)
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item id="membro-select9">
      <ion-label>
        É batizado
      </ion-label>
      <ion-select [disabled]="disabled" [(ngModel)]="membro.batizado" name="batizado">
        <ion-option></ion-option>
        <ion-option>
          Sim
        </ion-option>
        <ion-option>
          Não
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item id="membro-select10">
      <ion-label>
        Ja fez escola de Lideres
      </ion-label>
      <ion-select [disabled]="disabled" [(ngModel)]="membro.escola" name="escola">
        <ion-option></ion-option>
        <ion-option>
          Sim
        </ion-option>
        <ion-option>
          Não
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item id="membro-select11">
      <ion-label>
        Participa de Célula
      </ion-label>
      <ion-select [disabled]="disabled" [(ngModel)]="membro.celula" name="celula">
        <ion-option></ion-option>
        <ion-option>
          Sim
        </ion-option>
        <ion-option>
          Não
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item id="membro-input14">
      <ion-label>
        Telefone Fixo
      </ion-label>
      <ion-input type="tel"  [disabled]="disabled" [(ngModel)]="membro.telFixo" placeholder="" name="telFixo"></ion-input>
    </ion-item>
    <ion-item id="membro-input15">
      <ion-label>
        Telefone Celular
      </ion-label>
      <ion-input type="tel" [disabled]="disabled" [(ngModel)]="membro.telCelular" placeholder="" name="telCelular"></ion-input>
    </ion-item>
    <ion-item id="membro-select12">
      <ion-label>
        Tipo de Logadouro
      </ion-label>
      <ion-select [disabled]="disabled" [(ngModel)]="membro.tipoLogadouro" name="tipoLogadouro">
        <ion-option></ion-option>
        <ion-option>
          Rua
        </ion-option>
        <ion-option>
          Travessa
        </ion-option>
        <ion-option>
          Avenida
        </ion-option>
        <ion-option>
          Rodovia
        </ion-option>
        <ion-option>
          Praça
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item id="membro-input16">
      <ion-label>
        Nome do Logadouro
      </ion-label>
      <ion-input [disabled]="disabled" [(ngModel)]="membro.logadouro" type="text" placeholder="" name="logadouro"></ion-input>
    </ion-item>
    <ion-item id="membro-input17">
      <ion-label>
        Numero
      </ion-label>
      <ion-input [disabled]="disabled" [(ngModel)]="membro.numero" type="text" placeholder="" name="numero"></ion-input>
    </ion-item>
    <ion-item id="membro-input18">
      <ion-label>
        Complemento
      </ion-label>
      <ion-input [disabled]="disabled" [(ngModel)]="membro.complemento" type="text" placeholder="" name="complemento"></ion-input>
    </ion-item>
    <ion-item id="membro-input19">
      <ion-label>
        Bairro
      </ion-label>
      <ion-input [disabled]="disabled" [(ngModel)]="membro.bairro" type="text" placeholder="" name="bairro"></ion-input>
    </ion-item>
    <ion-item id="membro-input20">
      <ion-label>
        Cidade
      </ion-label>
      <ion-input [disabled]="disabled" type="text" [(ngModel)]="membro.cidade" placeholder="" name="cidade"></ion-input>
    </ion-item>


    <button *ngIf="ativar" on-click="salvar(membro.objectId)" id="membro-button9"  ion-button color="positive" block>
      Salvar
    </button>
    <button *ngIf="ativar" on-click="excluir(membro.objectId)" id="membro-button9"  ion-button color="danger" block>
      Excluir
    </button>
  </form>
</ion-content>
